* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  /* max-width: 1350px; */
  width: 92%;
  margin: 0 auto;
  height: 100vh;
}

/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

body {
  background-color: #f5f6ff;
}

main {
  width: 100%;
  height: 100vh;
}

.main-container {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 70%;
}

.purple-container {
  background-color: #e8ebff;
  width: 44%;
  height: 250px;
  border-radius: 50px;
}

.notification-container {
  /* background-color: red; */
  width: 67%;
  /* height: 250px; */
  position: absolute;
  top: 5px;
  right: 15.5%;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: end;
}

.notification-bell {
  width: 80px;
  height: 80px;
  background-color: #0c0e41;
  border-radius: 50%;
}

.bell-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  -webkit-box-shadow: 6px 13px 53px 3px rgba(232, 235, 255, 0.75);
  -moz-box-shadow: 6px 13px 53px 3px rgba(232, 235, 255, 0.75);
  box-shadow: 6px 13px 53px 3px rgba(232, 235, 255, 0.75);
  background-color: #fff;
  width: 100%;
  padding: 37px;
}

h1 {
  font-size: 25px;
}

.email-box {
  display: flex;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
